<html ng-app='DAD'>
	<head>
		<script src='./lib/jquery-2.1.1.min.js'></script>
		<script src='./lib/angular.min.js'></script>
		<script src='./lib/inout.js'></script>
		<script src='./ActionQueue.js'></script>
		<script src='./Map.js'></script>
		<script src='./battle.js'></script>
	</head>
	<body>
		<div ng-controller='charactersController'>
			<ul ng-repeat='character in characters'>
				<li>
					<div>PC:{{character.name}}</div>
					<div>HP:{{character.hp}}</div>
					<div>ST:{{character.status.toString()}}</div>
					<div>PO:{{getPoint(character.id)}}</div>
					<div ng-controller='actionsManipulator' ng-show='character == turnUnit'>
						<button
							ng-repeat='action in actions'
							ng-show='selectAction == ""'
							ng-click='nextAction(action.name)'>{{action.japanese}}</button>
						<div ng-show='selectAction == "move"'>
							<button ng-click='moveTo(character.id, TOP);clearSelectAction()'>
								うえ
							</button>
							<button ng-click='moveTo(character.id, RIGHT);clearSelectAction()'>
								みぎ
							</button>
							<button ng-click='moveTo(character.id, BOTTOM);clearSelectAction()'>
								した
							</button>
							<button ng-click='moveTo(character.id, LEFT);clearSelectAction()'>
								ひだり
							</button>
						</div>
					</div>
				</li>
			</ul>
			<ul ng-repeat='enemy in enemys'>
				<li>
					<div>NA:{{enemy.name}}</div>
					<div>ST:{{enemy.status.toString()}}</div>
					<div>PO:{{getPoint(enemy.id)}}</div>
				</li>
			</ul>
			<dl>
				<dt>ログ</dt>
				<dd>
					<ul>
						<li ng-repeat='line in log track by $index'>{{line}}</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>行動順</dt>
				<dd>
					<ol>
						<li ng-repeat='unit in actionQueue.queue'>{{unit.name}}</li>
					</ol>
				</dd>
			</dl>
		</div>
	</body>
</html>