<html ng-app='DAD'>
	<head>
		<script src='./lib/jquery-2.1.1.min.js'></script>
		<script src='./lib/angular.min.js'></script>
		<script src='./lib/inout.js'></script>
		<script src='./ActionQueue.js'></script>
		<script src='./Map.js'></script>
		<script src='./battle.js'></script>
	</head>
	<body>
		<div ng-controller='charactersController'>
			<ul ng-repeat='character in characters'>
				<li>
					<div>PC:{{character.name}}</div>
					<div>HP:{{character.hp}}</div>
					<div>ST:{{character.status.toString()}}</div>
					<div>PO:{{getPoint(character.id)}}</div>
					<div dad-character-action ng-show='character == turnUnit'>
						<button dad-action='slap'>なぐる</button>
						<button dad-action='attack'>ぶき</button>
						<button dad-action='block'>ぼうぎょ</button>
						<div>
							<button ng-click='move = true' ng-hide='move'>いどう</button>
							<button ng-click='moveTo(character.id, TOP)' ng-show='move'>うえ</button>
							<button ng-click='moveTo(character.id, RIGHT)' ng-show='move'>みぎ</button>
							<button ng-click='moveTo(character.id, BOTTOM)' ng-show='move'>した</button>
							<button ng-click='moveTo(character.id, LEFT)' ng-show='move'>ひだり</button>
						</div>
						<button ng-click='nextTurn(character)'>ターンエンド</button>
					</div>
				</li>
			</ul>
			<ul ng-repeat='enemy in enemys'>
				<li>
					<div>NA:{{enemy.name}}</div>
					<div>ST:{{enemy.status.toString()}}</div>
					<div>PO:{{getPoint(enemy.id)}}</div>
				</li>
			</ul>
			<dl>
				<dt>ログ</dt>
				<dd>
					<ul>
						<li ng-repeat='line in log track by $index'>{{line}}</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>行動順</dt>
				<dd>
					<ol>
						<li ng-repeat='unit in actionQueue.queue'>{{unit.name}}</li>
					</ol>
				</dd>
			</dl>
		</div>
	</body>
</html>