<html ng-app='DAD'>
	<head>
		<script src='./lib/jquery-2.1.1.min.js'></script>
		<script src='./lib/angular.min.js'></script>
		<script src='./lib/dadUnits.js'></script>
		<script src='./lib/inout.js'></script>
		<script src='./ActionQueue.js'></script>
		<script src='./Map.js'></script>
		<script src='./Attack.js'></script>
		<script src='./Block.js'></script>
		<script src='./Inventory.js'></script>
		<script src='./Unit.js'></script>
		<script src='./battle.js'></script>
	</head>
	<body>
		<div ng-controller='charactersController'>
			<ul ng-repeat='character in characters'>
				<li>
					<div>PC:{{character.name}}</div>
					<div>HP:{{character.hp}}</div>
					<div>ST:{{character.status.toString()}}</div>
					<div>PO:{{getPoint(character.id)}}</div>
					<div ng-controller='actionsManipulator' ng-show='character == turnUnit'>
						<button
							ng-show='selectAction == ""'
							ng-click='setAttacker(character.id)'>こうげき</button>
						<button
							ng-show='selectAction == ""'
							ng-click='nextAction("move")'>いどう</button>
						<button ng-show='selectAction == ""'>こうどうしゅうりょう</button>
						<div ng-show='selectAction == "move"'>
							<button ng-click='moveTo(TOP);clearSelectAction()'>
								うえ
							</button>
							<button ng-click='moveTo(RIGHT);clearSelectAction()'>
								みぎ
							</button>
							<button ng-click='moveTo(BOTTOM);clearSelectAction()'>
								した
							</button>
							<button ng-click='moveTo(LEFT);clearSelectAction()'>
								ひだり
							</button>
						</div>
					</div>
				</li>
			</ul>
			<ul ng-repeat='enemy in enemys'>
				<li>
					<div>NA:{{enemy.name}}</div>
					<div>HP:{{enemy.hp}}</div>
					<div>ST:{{enemy.status.toString()}}</div>
					<div>PO:{{getPoint(enemy.id)}}</div>
					<button
						ng-show='isAttackMode'
						ng-click='attack(enemy.id)'>こうげきする</button>
				</li>
			</ul>
			<dl>
				<dt>ログ</dt>
				<dd>
					<ul>
						<li ng-repeat='line in log track by $index'>{{line}}</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>行動順</dt>
				<dd>
					<ol>
						<li ng-repeat='unit in actionQueue.queue'>{{unit.name}}({{getPoint(unit.id)}})</li>
					</ol>
				</dd>
			</dl>
		</div>
	</body>
</html>