<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="lib/angular.min.js"></script>
    <script src="town.js"></script>
</head>
<body ng-app="DAD">
<div ng-controller="menuController">
    <ul>
        <li ng-repeat="menu in menuList">
            <a href="" ng-click="selectMenu(menu.id)">{{menu.name}}</a>
        </li>
    </ul>
    <dl ng-show="showMenu()">
        test
        <dt>{{selectedMenu.name}}</dt>
        <dd>
            <ul>
                <li></li>
            </ul>
        </dd>
    </dl>
</div>
</body>
</html>